/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */
pre,code,ol.linenums {background-color: #16283a; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAICAYAAAA4GpVBAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90GBgMqHcZ0EYUAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAF0lEQVQI12NgYGAwZsAECDEWBgYGBgYACpwAazfG694AAAAASUVORK5CYII=");}
pre:hover,pre li:hover,pre code:hover {background-color: #111;}
pre { font-size:12px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);text-shadow:0 1px 1px #000; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; color: #b8ffb8; margin: 10px; padding: 1em 1em 1em 2em; white-space: pre-wrap; border: 1px solid #000;}
pre.prettyprint {font-size:14px;border: 1px solid #000;}
pre ol, pre ul { margin: 1em !important; border-left: 2px solid #090; padding: 1px; }
pre li:hover {cursor: text;}
pre code { background: none; border: none !important; padding: 0 0 0 10px !important; border-radius: 0 !important; margin: 1em 0 !important;}
code { padding: 2px 4px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 5px; margin: 0 4px;  color: #2196F3;background: #151212; }
code:hover {color: #2196F3; }
/* Specify class=linenums on a pre to get line numbering */
